<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css" integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">
    <title>URL Shrtnr</title>
</head>
<body>
  <nav class="navbar-dark bg-primary navbar">
    <div class="d-none d-lg-block">
      <a class="navbar-brand" href="./">URL Shrtnr</a>
    </div>
    <div class="d-lg-none">
      <a class="navbar-brand" href="./">
        <img src="./favicon.ico" width="30" height="30" alt="">
      </a>
    </div>

      <form class="form-inline my-2 my-lg-0" action="/search" method="POST">
        <input class="form-control mr-sm-2" type="text" placeholder="Short URL" name="shortURL" id="shortURL">
    <div class="d-none d-lg-block">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </div>
      </form>
  </nav>

    <div class="jumbotron">
        <h1 class="display-3">URL Shrtnr</h1>
        <p class="lead">This app was built by Ben Zuckier for TAMID at Yeshiva University</p>
      </div>
    <div class="container">
        <div class="form-group">
            <form action="/url" method="POST">
                <label class="sr-only col-form-label col-form-label-lg" for="inputLarge">Long URL</label>
                <input required class="form-control form-control-lg" type="text" placeholder="https://example.com/longURL" name="LongURL" id="LongURL">
                <button type="submit" class="btn btn-primary mt-3">Shrtn URL</button>
            </form>
        </div>
        {% if short %}
        <div class="card text-white bg-primary mb-3" style="max-width: 100%;">
          <div class="card-header">Shortened URL</div>
          <div class="card-body">
            <h4 class="card-title"><a href="https://bzuckier.com/{{ short.short }}">bzuckier.com/{{ short.short }}</a></h4>
            <p class="card-text">Original URL: <a href="{{ short.url }}">{{ short.url }}</a> <br>clicks:{{ short.clicks }}</p>
          </div>
        </div>
        {% endif %}
    </div>
</body>
</html>